.banner-shap {
    &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 300px;
        background: #1358d8;
        clip-path: ellipse(56% 50%);
        z-index: -1;
        bottom: -83px;
    }
}
.it-wrapper {
    &::before {
        content: "";
        position: absolute;
        top: -100px; 
        left: -100px;
        width: 306px;
        height: 306px;
        background: $dark-primary;
        border-radius: 50%;
        animation: topshap 2s infinite;

        @keyframes topshap {
            0% {
                top: -60px;
                left: -60px;
            }

            50% {
                top: -80px;
                left: -60px;
            }

            100% {
                top: -60px;
                left: -60px;
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 60px;
        right: -90px;
        width: 306px;
        height: 306px;
        background: $warning;
        border-radius: 50%;
        animation: shap 2s infinite;
        display: block;

        @keyframes shap {
            0% {
                bottom: 60px;
                right: -90px;
            }

            50% {
                bottom: 80px;
                right: -90px;
            }

            100% {
                bottom: 60px;
                right: -90px;
            }
        }

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
}
.banner-circle {
    position: absolute;
    left: -35px;
    top: 80px;
}
.banner-bottom-line {
    position: absolute;
    left: -30px;
    bottom: 150px;
}
.banner-circle-line {
    position: absolute;
    right: 0;
    top: -70px;
}
.warning-check:checked {
    background-color: $warning;
    border-color: $warning;
}