.trip-bg {
    background: url("../../dist/images/travel/travel-bg.jpg") no-repeat center;
    background-size: cover;
    .trip-card .form-select{
        background-position: right 0rem center;
    }
}